
@import 'mixins';

html, body {
  height: 100%;
}

#root {
  height: 100%;
  color: #fff;
}

//Logo fixing
nav img {
  margin-top: 5px;
}

$dark-grey: #222;
$gold: #ffd54f;


$body-background-color: $dark-grey;
$navbar-background-color: $dark-grey;


$primary: $dark-grey;
$label-color: #222;

// Home page
.home-login-signup {
  margin-top: 2em;
}

.home-signup {
  margin: 3em 0 0 2em;
}

.home-signup .title {
  margin-bottom: 0.5em !important;
}

//Navbar
.navbar-menu a {
  color: whitesmoke;
}

.navbar {
  margin-bottom: 1em;
}

.navbar-item:hover {
  background-color: #1a1a1a !important;
  color: $gold !important;
}

// Login Form
.login-form {
  max-width: 20em !important;
}

.login-form .title {
  line-height: 2em;
}

.login-form .icon svg {
  fill: #222;
}

.login-form .input {
  @include placeholder {
    color: #666;
    font-style: italic;
  }
}


// Registration Form
.registration-form form {
  max-width: 25em !important;
}

.registration-form .input {
  @include placeholder {
    color: #666;
    font-style: italic;
  }
}


// Match List
$tabs-boxed-link-hover-background-color: #1a1a1a;
$tabs-boxed-link-active-background-color: #1a1a1a;
$tabs-link-active-color: $gold;
$tabs-link-hover-color: $gold;


@import "node_modules/bulma/bulma";
