
@import 'mixins';

html, body {
  height: 100%;
}

#root {
  height: 100%;
  color: #fff;
}

//Logo fixing
nav img {
  margin-top: 5px;
}

$dark-grey: #222;
$gold: #ffd54f;


$body-background-color: $dark-grey;
$navbar-background-color: $dark-grey;

$box-color: #fff;
$box-background-color: $dark-grey;

$table-color: #fff;
$table-head-cell-color: $gold;
$table-cell-heading-color: #fff;
$table-background-color: #1a1a1a;

$navbar-burger-color: #1a1a1a;

$primary: $dark-grey;
$label-color: #222;

// Home page
.home-login-signup {
  margin-top: 2em;
}

.home-signup {
  margin: 3em 0 0 2em;
}

.home-signup .title {
  margin-bottom: 0.5em !important;
}

//Navbar
.navbar-menu a {
  color: whitesmoke;
}

.navbar {
  margin-bottom: 1em;
}

.navbar-item:hover {
  background-color: #1a1a1a !important;
  color: $gold !important;
}

.navbar-burger {
  background-color: $dark-grey !important;
  border-color: $dark-grey !important;
}

.navbar-burger .is-active {
  border-color: $gold !important;
}

.navbar-burger span {
  background-color: $gold !important;
}

// Login Form
.login-form {
  max-width: 20em !important;
}

.login-form .title {
  line-height: 2em;
}

.login-form .icon svg {
  fill: #222;
}

.login-form .input {
  @include placeholder {
    color: #666;
    font-style: italic;
  }
}


// Registration Form
.registration-form form {
  max-width: 25em !important;
}

.registration-form .input {
  @include placeholder {
    color: #666;
    font-style: italic;
  }
}

.match-body .is-picked {
  background-color: $gold !important;
  border: 1px solid $dark-grey
}

.match-body .is-picked :focus {
  box-shadow: 0 0 0 0.125em rgb(3, 12, 27);
}


// Match List
$tabs-boxed-link-hover-background-color: #1a1a1a;
$tabs-boxed-link-active-background-color: #1a1a1a;
$tabs-link-active-color: $gold;
$tabs-link-hover-color: $gold;


@import "node_modules/bulma/bulma";


.match-team {
  @include mobile {
    min-width: 112px;
  }

  @include tablet {
    width: 350px;
  }
}

.match-team-name .acronym {
  @include tablet {
    display: none;
  }
}

.match-team-name .name {
  @include mobile {
    display: none;
  }
}


.match-team-logo {  
  @include tablet {
    height: 96px;
    width: 96px;
    margin: 0 10px 0 10px;
  }

  @include mobile {
    width: 48px;
    height: 48px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.match-time-long {
  @include mobile {
    display: none;
  }
}

.match-time-short {
  @include tablet {
    display: none;
  }
}

.series-title {
  @include mobile {
    text-align: center !important;
  }
}

.leaderboard-table {
  background-color: #1a1a1a;
  margin-top: 20px;
  
  padding: 20px;
  border-radius: 5px;
}

.leaderboard-table .table {
  max-width: 1000px;
}