<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Predict the winner of every game, every week. Challenge your friends and unveil your time machine to your advantage!">
    <meta name="author" content="Simon Smith">

    <title>LoL Esports  - Weekly Pick'Em!</title>
    <%= {:safe, css_link_tag() } %>
  </head>

  <body>
    <main id="root" role="main"></main>

    <%= {:safe, js_script_tag() } %>
  </body>
</html>
